doctype html

html(lang="ru")

  head
    meta(charset="utf-8")
    title Gallery
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.min.css")

  body
    div.gallery
      span#previous.previous.hidden
      span#next.next.hidden
      div#gallery-wrap.gallery-wrap
        .image-wrap
          img(src='img/1.jpg' alt='cat')
        .image-wrap
          img(src='img/2.jpg' alt='cat')
        .image-wrap
          img(src='img/3.jpg' alt='cat')
        .image-wrap
          img(src='img/4.jpg' alt='cat')
        .image-wrap
          img(src='img/5.jpg' alt='cat')
        .image-wrap
          img(src='img/6.jpg' alt='cat')
        .image-wrap
          img(src='img/7.jpg' alt='cat')
        .image-wrap
          img(src='img/8.jpg' alt='cat')
        .image-wrap
          img(src='img/9.jpg' alt='cat')

    script(src='js/scripts.min.js')
